<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="../output.css">
</head>


<body class="bg-gray-950 text-white inter-font overflow-hidden">

	<!-- Header ------------------------------------------------------------------------>
	<header class="bg-gray-950 px-4 border-b border-gray-700 flex items-center justify-between">
		
		<!-- User profile -->
		<div class="flex space-x-4 items-center">
			<img class="w-14 h-14 rounded-full" src="../asset/user-avatar.jpg" alt="profile">
			<span class="text-xl font-semibold">John Lennon</span>
		</div>

		<!-- Navigation -->
		<div class="flex">

			<!-- Game Section -->
			<div class="border-l border-gray-700 py-1 px-3">
				<div class="text-sm tracking-widest mb-1">Game</div>
				<div class="flex items-center space-x-2">

					<!-- Pong -->
					<a href="1_dashboard.html"
						class="relative group px-3 py-1 rounded-lg">
						<i class="fas fa-table-tennis text-xl"></i>
						<span class="absolute opacity-0 -bottom-9 left-1/2 -translate-x-1/2 text-sm py-1 px-3 bg-white/20 group-hover:opacity-100 transition-opacity rounded-lg whitespace-nowrap z-10">Pong</span>
					</a>

					<!-- XOX -->
					<button class="relative group px-3 py-1 rounded-lg">
						<i class="fas fa-th text-xl"></i>
						<span class="absolute opacity-0 -bottom-9 left-1/2 -translate-x-1/2 text-sm py-1 px-3 bg-white/20 group-hover:opacity-100 transition-opacity rounded-lg whitespace-nowrap z-10">Tic-Tac-Toe</span>
					</button>

				</div>
			</div>

			<!-- Menu Selection -->
			<div class="border-l border-gray-700 py-1 px-3">
				<div class="text-sm tracking-widest mb-1">Menu</div>
				<div class="flex items-center space-x-2">

					<!-- Friends -->
					<button 
						class="relative group px-3 py-1  bg-yellow-400 rounded-lg">
						<i class="fas fa-users text-xl text-gray-950"></i>
						<span class="absolute opacity-0 -bottom-9 left-1/2 -translate-x-1/2 text-sm py-1 px-3 bg-white/20 group-hover:opacity-100 transition-opacity rounded-lg whitespace-nowrap z-10">Friends</span>
					</button>

					<!-- Profile -->
					<button class="relative px-3 group py-1 rounded-lg">
						<i class="fas fa-cog text-xl"></i>
						<span class="absolute opacity-0 -bottom-9 left-1/2 -translate-x-1/2 text-sm py-1 px-3 bg-white/20 group-hover:opacity-100 transition-opacity rounded-lg whitespace-nowrap z-10">Profile</span>
					</button>

					<!-- Exit -->
					<button class="relative group px-3 py-1 rounded-lg">
						<i class="fas fa-sign-out-alt text-xl"></i>
						<span class="absolute opacity-0 -bottom-9 left-1/2 -translate-x-1/2 text-sm py-1 px-3 bg-white/20 group-hover:opacity-100 transition-opacity rounded-lg whitespace-nowrap z-10">Exit</span>
					</button>


				</div>
			</div>
		</div>
	</header>

	<main class="flex h-screen">
		<!-- Friend List --------------------------------------------->
		<aside class="w-1/3 border-r border-gray-700 py-3 pl-6 pr-2">
			<div class="h-[87vh] space-y-2 overflow-y-scroll">

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_1.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Amir</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_2.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class=" font-semibold">Lina</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_3.jfif" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Rizal</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_4.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Mira</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_5.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Faiz</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_6.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Cristiano Ronaldo</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>				

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_7.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Maya</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_1.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Amir</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_2.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class=" font-semibold">Lina</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_3.jfif" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Rizal</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_4.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Mira</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_5.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Faiz</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover grayscale" src="../asset/friend_6.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-gray-400 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Cristiano Ronaldo</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>				

				<!-- Friend -->
				<div class="flex items-center justify-between py-2">
					
					<div class="flex items-center space-x-3">
						<div class="relative">
							<img class="w-14 h-14 rounded-full object-cover" src="../asset/friend_7.jpg" alt="friend">
							<div class="absolute bottom-0 right-0 w-5 h-5 rounded-full bg-green-500 border-4 border-gray-950"></div>
						</div>	
						<span class="font-semibold">Maya</span>
					</div>

					<button class="w-7 h-7 bg-yellow-400 rounded flex items-center justify-center mr-6">
						<i class="fas fa-times text-black text-lg"></i>
					</button>
				</div>
			</div>
		</aside>

		<!-- Search Friend --------------------------------------------->
		<section class="mx-auto w-1/3 mt-12">
			<!-- Search Bar -->
			<div class="w-full relative flex items-center mb-2">
				<i class="fas fa-search text-gray-400 text-xl absolute pl-5"></i>
				<input class="w-full text-lg text-black pl-14 pr-6 py-3 rounded-full focus:outline-none focus:ring-2 focus:ring-yellow-400" 
					type="text" 
					placeholder="Search friend's name"
					maxlength="24">
			</div>
			
			<!-- Search Result -->
			<div class="h-[72vh] overflow-y-auto px-4 w-full">

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

				<!-- Result -->
				<div class="flex items-center justify-between py-4 px-2 border-b border-gray-700">
					<span>jason_42</span>
					<button class="w-10 h-10 bg-yellow-400 rounded-full flex items-center justify-center">
						<i class="fas fa-plus text-black text-lg"></i>
					</button>
				</div>

			</div>
		</section>
	</main>
</body>
</html>